@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~flexboxgrid/css/flexboxgrid.css";

/* Utility */
.m0{ margin:0 }

.mt0{ margin-top:0 }

.mr0{ margin-right:0 }

.mb0{ margin-bottom:0 }

.ml0{ margin-left:0 }

.mx0{ margin-left:0; margin-right:0 }

.my0{ margin-top:0; margin-bottom:0 }

.m1{ margin:.5rem; margin:.5rem }

.mt1{ margin-top:.5rem; margin-top:.5rem }

.mr1{ margin-right:.5rem; margin-right:.5rem }

.mb1{ margin-bottom:.5rem; margin-bottom:.5rem }

.ml1{ margin-left:.5rem; margin-left:.5rem }

.mx1{ margin-left:.5rem; margin-left:.5rem; margin-right:.5rem; margin-right:.5rem }

.my1{ margin-top:.5rem; margin-top:.5rem; margin-bottom:.5rem; margin-bottom:.5rem }

.m2{ margin:1rem; margin:1rem }

.mt2{ margin-top:1rem; margin-top:1rem }

.mr2{ margin-right:1rem; margin-right:1rem }

.mb2{ margin-bottom:1rem; margin-bottom:1rem }

.ml2{ margin-left:1rem; margin-left:1rem }

.mx2{ margin-left:1rem; margin-left:1rem; margin-right:1rem; margin-right:1rem }

.my2{ margin-top:1rem; margin-top:1rem; margin-bottom:1rem; margin-bottom:1rem }

.m3{ margin:2rem; margin:2rem }

.mt3{ margin-top:2rem; margin-top:2rem }

.mr3{ margin-right:2rem; margin-right:2rem }

.mb3{ margin-bottom:2rem; margin-bottom:2rem }

.ml3{ margin-left:2rem; margin-left:2rem }

.mx3{ margin-left:2rem; margin-left:2rem; margin-right:2rem; margin-right:2rem }

.my3{ margin-top:2rem; margin-top:2rem; margin-bottom:2rem; margin-bottom:2rem }

.m4{ margin:4rem; margin:4rem }

.mt4{ margin-top:4rem; margin-top:4rem }

.mr4{ margin-right:4rem; margin-right:4rem }

.mb4{ margin-bottom:4rem; margin-bottom:4rem }

.ml4{ margin-left:4rem; margin-left:4rem }

.mx4{ margin-left:4rem; margin-left:4rem; margin-right:4rem; margin-right:4rem }

.my4{ margin-top:4rem; margin-top:4rem; margin-bottom:4rem; margin-bottom:4rem }

.m-auto{ margin:auto; }

.mt-auto{ margin-top:auto }

.mr-auto{ margin-right:auto }

.mb-auto{ margin-bottom:auto }

.ml-auto{ margin-left:auto }

.mx-auto{ margin-left:auto; margin-right:auto; }

.my-auto{ margin-top:auto; margin-bottom:auto; }



.p0{ padding:0 }

.pt0{ padding-top:0 }

.pr0{ padding-right:0 }

.pb0{ padding-bottom:0 }

.pl0{ padding-left:0 }

.px0{ padding-left:0; padding-right:0 }

.py0{ padding-top:0;  padding-bottom:0 }

.p1{ padding:.5rem; padding:.5rem }

.pt1{ padding-top:.5rem; padding-top:.5rem }

.pr1{ padding-right:.5rem; padding-right:.5rem }

.pb1{ padding-bottom:.5rem; padding-bottom:.5rem }

.pl1{ padding-left:.5rem; padding-left:.5rem }

.py1{ padding-top:.5rem; padding-top:.5rem; padding-bottom:.5rem; padding-bottom:.5rem }

.px1{ padding-left:.5rem; padding-left:.5rem; padding-right:.5rem; padding-right:.5rem }

.p2{ padding:1rem; padding:1rem }

.pt2{ padding-top:1rem; padding-top:1rem }

.pr2{ padding-right:1rem; padding-right:1rem }

.pb2{ padding-bottom:1rem; padding-bottom:1rem }

.pl2{ padding-left:1rem; padding-left:1rem }

.py2{ padding-top:1rem; padding-top:1rem; padding-bottom:1rem; padding-bottom:1rem }

.px2{ padding-left:1rem; padding-left:1rem; padding-right:1rem; padding-right:1rem }

.p3{ padding:2rem; padding:2rem }

.pt3{ padding-top:2rem; padding-top:2rem }

.pr3{ padding-right:2rem; padding-right:2rem }

.pb3{ padding-bottom:2rem; padding-bottom:2rem }

.pl3{ padding-left:2rem; padding-left:2rem }

.py3{ padding-top:2rem; padding-top:2rem; padding-bottom:2rem; padding-bottom:2rem }

.px3{ padding-left:2rem; padding-left:2rem; padding-right:2rem; padding-right:2rem }

.p4{ padding:4rem; padding:4rem }

.pt4{ padding-top:4rem; padding-top:4rem }

.pr4{ padding-right:4rem; padding-right:4rem }

.pb4{ padding-bottom:4rem; padding-bottom:4rem }

.pl4{ padding-left:4rem; padding-left:4rem }

.py4{ padding-top:4rem; padding-top:4rem; padding-bottom:4rem; padding-bottom:4rem }

.px4{ padding-left:4rem; padding-left:4rem; padding-right:4rem; padding-right:4rem }
.row {
    margin: 0px!important;
}
.w-100 {
    width: 100%;
}
.d-flex {
    display: flex;
}
.justify-content-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
/* End of utility */
#content,
#content main {
    width: 100%;
}

#content .close {
    display: none;
}

.sidenav {
    width:100%;
    max-width:100%;
    overflow-y: auto;
    max-height: 100vh;
    margin-right: 2rem;
}
.navbar img {
    max-height: 100%;
    padding: 10px;
}
.navbar .bp3-navbar-heading {
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
}

.auth-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
